<div class="container">
  <h1 class="artist-text-center">Artists</h1>
<form class="form-inline">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-80" type="text" placeholder="Search" aria-label="Search">
</form>
          <div class="col-lg-12 cards">
          <% @artists.each do |artist| %>
            <div class="card" style="width: 18rem;">
             <%= cl_image_tag artist.photo %>
              <div class="card-body">
                <h2 class="card-text"> <%= artist.name %></h2>
                <p class="card-text"> <%= artist.genre %></p>
                <h3 class="card-text"> <%= artist.price %> €</h3>
                <%= link_to "Details", artist_path(artist), class: "btn btn-info" %>
              </div>
            </div>
          <% end %>
  <%= form_tag artists_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an Artist by name or genre"
    %>
  <% end %>
  <div class="col-lg-12 cards">
    <% @artists.each do |artist| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag artist.photo, :aspect_ratio=>"1:1", :crop=>"fill" %>
        <div class="card-body">
          <h2 class="card-text"> <%= artist.name %></h2>
          <p class="card-text"> <%= artist.genre %></p>
          <h3 class="card-text"> <%= artist.price %> €</h3>
          <%= link_to "Détails", artist, class: "btn btn-info" %>
        </div>
>>>>>>> bf37aa015feeb5ce30ce6c7d231c64363c5c5752
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <% if policy(Artist).create? %>
    <%= link_to "Add an artist", new_artist_path, class: "btn btn-info" %>
  <% end %>
</div>
