<div class="container pad20" style="width:60%; margin-top: 30px; margin-bottom: 30px;" >
  <div class="row ">
    <div class="col-lg-4 ">
<<<<<<< HEAD
      <p class="text-underline"> <%= cl_image_tag @artist.photo, :aspect_ratio=>"1:1", :crop=>"fill"%>
=======
      <p class="text-underline"> <%= cl_image_tag @artist.photo, height: 300, width: 300, crop: :fill , class: "rounded-circle" %>
>>>>>>> bf37aa015feeb5ce30ce6c7d231c64363c5c5752
      </p>
    </div>
    <div class="col-lg-8 text-center" style="margin-top:50px">
      <h1><%= @artist.name %> </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p class="text-underline"> <%= "Genre musical: #{@artist.genre}" %> </p>
      <p class="text-underline"> <%= "Description: #{@artist.description}" %> </p>
      <% if policy(@artist).edit? %>
      <%= link_to "Update", edit_artist_path, class: "btn btn-info" %>
      <% end %>
      <% if policy(@artist).destroy? %>
      <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, artist_path(@artist),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
      <div class="col-lg-4 ">
        <div style=" border: 1px solid black ; padding:10px ; width:100%; height:100%; border-radius: 3px; padding-right: 20px; padding-left: 20px; font-size: 10px;">
          <h5 class="text-center" style="font-weight: bold; letter-spacing: 2px;">Reservation</h5>
            <!-- <form>
              <div class="form-group">
                <label for="date debut">Date de debut</label>
                <input type="date" class="form-control"  aria-describedby="dateDebutHelp" placeholder="Enter date de debut">
                <small  class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="date fin">Date de fin</label>
                <input type="date" class="form-control"  aria-describedby="dateFinHelp" placeholder="Enter date de fin">
                <small  class="form-text text-muted"></small>

               <p class="text-underline" style="font-size: 15px; font-weight: bold;"> <%= "Prix: #{@artist.price}€" %> </p>
             <button type="submit" class="btn btn-info btn-lg btn-block"> Book</button>
            </form> -->

          <%= simple_form_for [@artist, @reservation] do |f| %>
            <%= f.input :begin_date, placeholder: "mojito" %>
            <%= f.input :end_date, placeholder: "mojito" %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>    
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Back", artists_path, class: "btn btn-info" %>
</div>
