<div class="container padded">
  <h1 class="artist-text-center">Modifiez votre réservation</h1>
    <div class="row">
      <div class="col-lg-6 artist-cards">
        <div class="artist-card-body">
          <%= simple_form_for @reservation do |f| %>
            <div class="typo"> <%= f.input :begin_date %> </div>
            <div class="typo"> <%= f.input :end_date %> </div>
            <div class="typo"> <%= f.input :artist_id %> </div>
            <div class="typo"><%= f.input :final_price %>
            <%= f.submit "Submit", class: "btn btn-info" %>
          <% end %>
          <div class="pad20">
        </div>
      </div>
    </div>
  </div>
</div>
