<div class="container">
  <h1 class="artist-text-center">Mes réservations</h1>
  <% @reservations.each do |reservation|%>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= reservation.artist.name %></h2>
        <p><em>Du</em> <%= reservation.begin_date %> <em>au</em> <%= reservation.end_date %> </p>
        <p>Prix: <%= reservation.artist.price %>€ </p>
        <div class="bouton_reservation col-lg-12">
          <p class="bouton"> <%= link_to "Détail", reservation_path(reservation), class: "btn btn-info" %></p>
          <p class="bouton"> <%= link_to "Modifier", edit_reservation_path(reservation), class: "btn btn-info" %></p>
          <p class="bouton"> <%= link_to "Annuler", reservation_path(reservation), method: :delete, class: "btn btn-info" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
<%= link_to "Retour", root_path, class: "btn btn-info" %>
</div>

